.THIS h3.slds-page-header{
    font-weight:300;
    font-size:2.375rem;   
    line-height: 1rem;
    background-color: white;
}

.THIS label.slds-form-element{    
    font-size:1.25rem;
    line-height: 1.25rem;    
}