.THIS .slds-form-element__label{
    font-size: 1.4rem !important;
}
.THIS .slds-radio_button .slds-radio_faux{
    /*padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;*/
    font-size: 1.34rem !important;    
}
.THIS .spins::after {
    position: absolute;
    content: 'Processing...';
    width: 100%;
    text-align: center;
    top: calc(50% + 1.5rem );
    font-style: barlow;
    font-size: 1.2rem;
    
}