.THIS {
}

.THIS .copyrightInfo {
    background-color:10% black !important;
    padding: 20px 0;  
    bottom:0px;
}

.THIS .copy {
    text-align: center;
    font-size: 12px;
    color: white;
    margin: 0;
}