.THIS .labelbold{
    font-weight:bold;
}
.THIS .ColorRed:hover {
    background-color: rgb(194, 57, 52);
    border-color: rgb(194, 57, 52);
    color: rgb(255, 255, 255);
}
.THIS .ColorRed{
    color: rgb(194, 57, 52);
}
.THIS .modal__header
{
    position: absolute;
    width: 100%;
    top: 0;
    
}
.THIS .modal__content {
    position: absolute;
    width: 100%;   
}

.THIS .slds-modal__content{
    
    overflow-y: visible;
}
.THIS .modal__footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.THIS .modal__content {
    bottom: 100px;
    top: 100px;
    overflow-y: auto;
}


.THIS .modal__footer {
    
}


.THIS .slds-modal__container{
 width:98%;   
    
}

.THIS .modal-body {
    overflow-y: auto;
}



.THIS .modalheader {
    padding: 15px;
    background: #2e6d8c;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.THIS .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    color:white;
    float: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f0f6"
}
.THIS .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;    
    text-shadow: 0 1px 0 #fff;    
    filter: alpha(opacity=20);
    padding: 0;
    cursor: pointer;
    background: transparent;
    color:white;
    border: 0;
    -webkit-appearance: none;
}

.THIS .btn-primary {
    background-color: #bfcc33 !important;
    border-color: transparent;
}