.THIS .headerfooter{
    text-align: center;
}

.THIS #requiredStarWrapper label::before {
    content: '* ';
    color: rgb(194, 57, 52);
}

.THIS .modelsImpactedWrapper {
    border-style: solid;
    border-width: 1px;
    border-color: #dddbda;
    border-radius: 5px;
    padding: 1rem;
}